/*Article*/
.article-title{
  text-align:center;
}

.post-line{
  width:100%;
  padding:10px;
}

.post-line ul{
  text-align:center;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

.post-line ul li{
  display:inline;
  color:rgba(0,0,0);
}

.post-line ul li a{
  display:inline-block;
  margin:0 5px;
  font-size:12px;
}

.article-content{
  width:100%;
  overflow:hidden;
  margin-top:20px;
}

.post-content{
  padding:10px 20px 20px 10px;
}

.post-content h1, .post-content h2, .post-content h3{
  margin:0;
  padding:5px 0;
}

.blog-anchor{
  text-indent:20px;
  font-size:15px;
  padding:150px 0 0 60px;
  margin-bottom:30px;
  position:sticky;
  top:20px;
  right:10px;
}

.blog-anchor li{
  margin-bottom: 5px;
}

.blog-anchor .anchor-link{
  margin-left:20px;
  color: gray;
}

.article-tag{
  width:100%;
  margin:auto;
  padding:10px 0;
  margin-bottom:30px;
  overflow:hidden;
}

.article-tag{
  margin:auto;
  text-align:center;
}

.article-tag .tag{
  margin:10px;
  background:#e9ecef;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
}

hr{
  width:90%;
  margin:20px auto;
  border:0;
  border-top: 1px solid #eeeeee;
  border-bottom:1px solid rgba(255, 255, 255, 0.8);
}


.comment-toggle:hover{
  cursor:pointer;
}
