{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_filter %}

{% block title %}
<title>{{ article.title }}</title>
{% endblock %}

{% block meta %}
<meta name='keywords'
    content='{{ article.title }},{% for tag in article.tags.all %}{{ tag }}{% endfor %}
      ,{{ article.category }}' />
<meta name='description' content='{{ article.digest|safe }}'>
{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}?ver=2">
<link rel="stylesheet" href="{% static 'css/comment.css' %}?ver=1">
<link rel="stylesheet" href="{% static 'css/prism.css' %}">
<script type="text/javascript" src="{% static 'js/prism.js' %}"></script>
{% endblock %}

{% block content %}
<div class="mysection content">
  <article>
    <h3 class='article-title'>{{ article.title }}</h3>
    <div class="post-line box-ui">
      <ul>
        <li>
          <a title="{{ article.author }}: {{ article.created_time }}에 공개">
            <i class=''></i>
            <time>{{ article.created_time }}</time>
          </a>
        </li>
        <li>
          <i class="">{{ article.author }}</i>
        </li>
        <li>
          <a href="#comment" title="댓글로 이동">{{ article.comment }}</a>
        </li>
        <li>
          <a title="{{ article.view }}">
            <i class=''>{{ article.view }}</i>
          </a>
        </li>
      </ul>
    </div>

    <div class="article-content markdown-body">
      <div class="post-content">
        {{ article.content|custom_markdown|safe }}
      </div>
    </div>

    <hr>

    <div class="article-tag">
      <ul>
        {% for tag in article.tags.all %}
        <li>
          <a href="">
              title="태그: {{ tag.tag_name }}">
            {{ tag.tag_name }}
          </a>&nbsp;
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class='my-response'>
      <div class="claps">

      </div>
      <div class="share">

      </div>
    </div>

    <!--댓글-->
    <p class="comment-toggle" data-load="false" data-show="false"
        data-count="{{ article.comments.count }}">
        <img width="17" height="17" src="{% static 'icon/comment.svg' %}">
        </img>
      {% if article.comments.exists %}
        댓글 {{ article.comments.count|default:'0' }}개
      {% else %}
        댓글 달기
      {% endif %}
    </p>
    <div class="comment-container">
    </div>
  </article>
</div>
{% endblock %}

{% block right %}
<div class="blog-anchor">
  <ul id="anchor-content"></ul>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  function generateContentList(){
   $('.post-content').find('h2,h3').each(function(i, item){
    var tag = item.tagName.toLowerCase();
    $(item).attr('id', `anchor${i}`);
    $('#anchor-content').append(`<li><a class="new-${tag} anchor-link" href="#anchor${i}">`
       + `${i+1}. ` + $(this).text() + `</a></li>`);
   });
  }
  generateContentList();
</script>
<script type="text/javascript">
  const comment_url = '{% url "blog:comments_display" article.pk %}';
  const token = '{{ csrf_token }}';
</script>
<script type="text/javascript" src="{% static 'js/comment.js' %}?ver=1"></script>
{% endblock %}
