{% load staticfiles %}
<header class="myheader">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand brand-name" href="{% url 'blog:index' %}">Lwd's Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-right ml-auto">
        <li class="search nav-item">
          <form method="GET" action="{% url 'blog:search' %}" class=" form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" name="word" placeholder="검색" aria-label="Search">
            <div class="submit-btn">
              <img width="20px" height=""src="{% static 'icon/search-solid.svg' %}" alt="">
            </div>
            <input class="hidden-submit" type="submit">
          </form>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="profileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{% static 'icon/user-circle-solid.svg' %}" width="35px" alt="">
          </a>

          <div class="dropdown-menu" aria-labelledby="profileMenu">
            <a class="dropdown-item" href="{% url 'blog:article_new' %}">New Article</a>
            <a class="dropdown-item" href="{% url 'blog:my_articles' %}">My Article</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
