{% extends 'base.html' %}
{% load staticfiles %}

{% block extrastyle %}
<script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
{% endblock %}

{% block content %}
<nav class="most-popular-tags">
  <a id="home-tag" class="tag-menu tag-menu-selected" href="{% url 'blog:index' %}">
    Home
  </a>
  {% for tag in most_popular_tags %}
  <a class="tag-menu" href="{% url 'blog:articles_by_tag' tag.id %}">{{ tag.tag_name }}</a>
  {% endfor %}
  <a id="see-more" href="{% url 'blog:more_tags' %}" class="tag-menu">더보기</a>
</nav>

<section class='mysection'>
  <div class="most-popular-articles">
    {% for article in most_popular_articles %}
    <div id="popular-article-{{ forloop.counter }}" class="box-ui">
      <div class="article">
        <h4 class="article-title">
          <a href="{% url 'blog:detail' article.pk %}" title="{{ article.title }}">
            {{ article.title }}
          </a>
        </h4>
        <p class="article-digest">{{ article.digest|default:"" }}</p>
        <ul class='article-bottom'>
          <li>
            <a class="article-meta-data" title="{{ article.author }}: {{ article.created_time }}에 공개">
              <img src="{% static 'icon/clock-regular.svg' %}" alt="">
              {{ article.created_time_format }}
            </a>
          </li>
          <li>
            <a class="article-meta-data" href="#">
              <img src="{% static 'icon/user-regular.svg' %}" alt="">
              {{ article.author }}
            </a>
          </li>
          <li>
            <a class="article-meta-data" href="#comment" title="댓글로 이동">
              <img src="{% static 'icon/comment.svg' %}" alt="">
              {{ article.comments.count }}
            </a>
          </li>
          <li>
            <a class="article-meta-data" title="뷰">
              <img src="{% static 'icon/eye-regular.svg' %}" alt="">
              {{ article.view }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>

  <hr>

  <div class="article-list">
    <h4 class='home-h4'>
      <small>최근 게시물</small>
    </h4>
    <ul>
      {% for article in article_list %}
      <li id='new' class="box-ui">
        <div class="article">
          <h4 class="article-title">
            <a href="{% url 'blog:detail' article.pk %}" title="{{ article.title }}">
              {{ article.title }}
            </a>
          </h4>
          <p class="article-digest">{{ article.digest|default:"" }}</p>
          <ul class='article-bottom'>
            <li>
              <a class="article-meta-data" title="{{ article.author }}: {{ article.created_time }}에 공개">
                <img src="{% static 'icon/clock-regular.svg' %}" alt="">
                {{ article.created_time_format }}
              </a>
            </li>
            <li>
              <a class="article-meta-data" href="#">
                <img src="{% static 'icon/user-regular.svg' %}" alt="">
                {{ article.author }}
              </a>
            </li>
            <li>
              <a class="article-meta-data" href="#comment" title="댓글로 이동">
                <img src="{% static 'icon/comment.svg' %}" alt="">
                {{ article.comments.count }}
              </a>
            </li>
            <li>
              <a class="article-meta-data" title="뷰">
                <img src="{% static 'icon/eye-regular.svg' %}" alt="">
                {{ article.view }}
              </a>
            </li>
          </ul>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

</section>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock %}
