{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}<title>My Articles</title>{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/my_articles.css' %}">
{% endblock %}

{% block content %}
<div class="my-articles-container">
  <div class="my-article-head">
    <h1 class="my-articles-title">My Articles</h1>
    <a class="new-article-link btn btn-outline-primary" href="{% url 'blog:article_new' %}">New Article</a>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="private" data-toggle="tab" href="#private-articles"
      role="tab" aria-controls="private-articles" aria-selected="true">
      비공개
    </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="public" data-toggle="tab" href="#public-articles"
        role="tab" aria-controls="public-articles" aria-selected="false">
        공개
      </a>
    </li>
  </ul>
  <div class="my-articles-content tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="private-articles" role="tabpanel" aria-labelledby="private-tab">
        {% for article in private_articles %}
        <div class="my-article">
          <div class="my-article-head">
            <h3 class="my-article-title" data-url="{% url 'blog:detail' article.pk %}">{{ article.title }}</h3>
            <div class="my-article-options">
              <a class="my-article-edit btn btn-outline-secondary" href="{% url 'blog:article_edit' article.pk %}">수정</a>
              <a class="my-article-delete btn btn-outline-danger" href="{% url 'blog:article_delete' article.pk %}">삭제</a>
            </div>
          </div>

          <div class="my-article-digest">
            {% if article.digest %}
              {{ article.digest }}
            {% else %}
            {% endif %}
          </div>
          <div class="my-article-updated-time">
            {{ article.updated_time_format }}
          </div>
        </div>

        <hr>
        {% endfor %}
      </div>

      <div class="tab-pane fade" id="public-articles" role="tabpanel" aria-labelledby="public-tab">
        {% for article in public_articles %}
        <div class="my-article">
          <div class="my-article-head">
            <h3 class="my-article-title" data-url="{% url 'blog:detail' article.pk %}">{{ article.title }}</h3>
            <div class="my-article-options">
              <a class="my-article-edit btn btn-outline-secondary" href="{% url 'blog:article_edit' article.pk %}">수정</a>
              <a class="my-article-delete btn btn-outline-danger" href="{% url 'blog:article_delete' article.pk %}">삭제</a>
            </div>
          </div>

          <div class="my-article-digest">
            {% if article.digest %}
              {{ article.digest }}
            {% else %}
            {% endif %}
          </div>
          <div class="my-article-updated-time">
            {{ article.updated_time_format }}
          </div>
        </div>

        <hr>
        {% endfor %}
      </div>

  </div>
</div>
{% endblock %}

{% block right %}
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
  window.onload = ev => {
    $('h3.my-article-title').on('click',function(ev){
      const url = this.dataset['url'];
      console.log(url);
      location.href = url;
    });

    $('.my-article-delete').on('click', function(ev){
      ev.preventDefault();

      const url = this.href;
      const check = confirm('정말 삭제하시곘습니까?');
      const token = '{{ csrf_token}}';

      if(check){
        $.post({
          url:url,
          headers: {'X-CSRFToken':token}
        })
        .done(data => {
          location.href = '{% url "blog:my_articles" %}';
        })
        .fail((jqXHR, textStatus) => {
          alert('글을 삭제할 수 없습니다.');
        })
      }
    })
  }
</script>
{% endblock %}
